@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 83.3% 98%;
    --foreground: 215 14.3% 34.3%;

    --card: 48 83.3% 98%;
    --card-foreground: 215 14.3% 34.3%;

    --popover: 48 83.3% 98%;
    --popover-foreground: 215 14.3% 34.3%;

    --primary: 0 100% 82.7%;
    --primary-foreground: 0 85.7% 41.2%;

    --secondary: 176 41.9% 82.9%;
    --secondary-foreground: 215 14.3% 34.3%;

    --muted: 176 41.9% 82.9%;
    --muted-foreground: 215 13.8% 46.1%;

    --accent: 176 41.9% 82.9%;
    --accent-foreground: 215 14.3% 34.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 176 30% 75%;
    --input: 176 30% 75%;
    --ring: 0 100% 82.7%;

    --radius: 0.5rem;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 0 100% 82.7%;
    --primary-foreground: 0 85.7% 41.2%;

    --secondary: 176 41.9% 82.9%;
    --secondary-foreground: 210 40% 98%;

    --muted: 176 41.9% 82.9%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 176 41.9% 82.9%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 176 30% 75%;
    --input: 176 30% 75%;
    --ring: 0 100% 82.7%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
